@font-face {
    font-family: 'TAEBAEKmilkyway';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/TAEBAEKmilkyway.woff2') format('woff2');
    font-weight: 100; /* 변경된 폰트 굵기 */
    font-style: 500;
}

/* 링크 스타일 설정 */
a {
    text-decoration: none; /* 밑줄 제거 */
    color: inherit; /* 링크 색상을 부모 요소의 색상으로 상속 */
}

/* 기본 바디 스타일 */
body {
    font-family: 'TAEBAEKmilkyway', sans-serif;
    font-weight: 1000;
    color: #ffffff; /* 글자 색상을 하얀색으로 변경 */
    background-color: #252525;
    margin: 0;
    padding: 0;
    padding-bottom: 60px; /* footer 높이만큼 body의 하단에 padding 추가 */
    text-align: center; /* 모든 텍스트 중앙 정렬 */
}

/* 섹션 스타일 설정 */
header, section, footer {
    padding: 20px;
    text-align: center; /* 섹션 내 텍스트 중앙 정렬 */
}

/* 헤더 스타일 설정 */
header {
    background-color: #646464;
    border-bottom: 2px solid #e9ecef;
}

/* 제목 스타일 설정 */
h1, h2, h3 {
    color: #ffffff; /* 제목 색상을 하얀색으로 변경 */
    text-align: center; /* 제목 텍스트 중앙 정렬 */
}

/* 리스트 스타일 설정 */
ul {
    list-style: none;
    padding: 0;
    text-align: center; /* 리스트 중앙 정렬 */
}

/* 리스트 아이템 스타일 설정 */
li {
    margin-bottom: 10px;
    color: #ffffff; /* 리스트 아이템 색상을 하얀색으로 변경 */
}

/* 본문 텍스트 스타일 설정 */
p {
    line-height: 1.5;
    color: #ffffff; /* 본문 텍스트 색상을 하얀색으로 변경 */
}

/* 푸터 스타일 설정 */
footer {
    display: flex; /* 플렉스 박스 레이아웃 사용 */
    justify-content: center; /* 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
    background-color: #f8f9fa;
    text-align: center;
    border-top: 2px solid #e9ecef;
    padding: 5px 10px;
    position: fixed;
    bottom: 0;
    width: calc(100% - 40px);
    box-sizing: border-box;
}

/* 푸터 링크 스타일 설정 */
footer a {
    color: #ffffff; /* 푸터 링크 색상을 하얀색으로 변경 */
    text-decoration: none;
    padding: 0 10px;
}

/* 푸터 링크 호버 스타일 설정 */
footer a:hover {
    text-decoration: underline;
}

/* 섹션 사이 간격 추가 */
section {
    margin-bottom: 20px;
}

/* 반응형 디자인 설정 */
@media (max-width: 768px) {
    body, header, section, footer {
        padding: 10px;
    }
    footer {
        width: calc(100% - 20px); /* 모바일 화면에서 footer 너비 조정 */
    }
}

/* 헤더 제목의 마진 조정 */
header .main-title p {
    margin-top: 5px; /* 위쪽 마진을 줄임 */
    margin-bottom: 5px; /* 아래쪽 마진을 줄임 */
}

/* 프로젝트 리스트 스타일 설정 */
#projects ul {
    list-style-type: none;
}
