footer {
    background-color: #646464;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 2px solid #e9ecef;
    font-size: 14px;
}
