footer {
    background-color: #646464;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 2px solid #e9ecef;
    font-size: 14px;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 30px; /* 링크들 사이의 간격 */
    margin-top: 10px;
}

.footer-links a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px; /* 아이콘과 텍스트 사이의 간격 */
}

.footer-links a:hover {
    color: #0073e6;
}
