/* App.css */

html, body, #root {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header, footer {
  flex-shrink: 0;
}

main {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  width: 100%; /* Ensure main spans the full width */
  padding: 0 20px; /* Optional: adjust horizontal padding as needed */
}

.content {
  text-align: center;
  max-width: 800px;
  width: 100%;
}

section {
  margin-bottom: 40px;
}

h2 {
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}
